workflows/entra_onboarding_chat.json
{
  "name": "Entra ID Onboarding Assistant (Chat Loop)",
  "nodes": [
    { "parameters": { "path": "entra-onboarding-chat" }, "id": "WebhookTrigger", "name": "Webhook", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [200, 300] },

    { "parameters": { "operation": "executeQuery", "query": "SELECT current_question, app_id, is_complete FROM entra_conversation_state WHERE user_id = {{$json[\"userId\"]}}" }, "id": "GetConversationState", "name": "Get Conversation State", "type": "n8n-nodes-base.postgres", "typeVersion": 2, "credentials": { "postgres": "CRED.postgres" }, "position": [400, 300] },

    { "parameters": { "url": "https://raw.githubusercontent.com/GoyaAcademy/Entra-ID-Onboarding-Automation/main/questionnaires/questionnaire-sso-initiation-entra.json", "responseFormat": "json", "options": { "retryOnFail": true, "maxRetries": 3, "timeout": 5000 } }, "id": "FetchQuestionnaire", "name": "Fetch Questionnaire JSON", "type": "n8n-nodes-base.httpRequest", "typeVersion": 3, "position": [600, 300] },

    { "parameters": { "operation": "insert", "table": "entra_conversation_answers", "columns": ["user_id", "question_id", "answer"], "values": "={{[$json[\"userId\"], $json[\"questionId\"], $json[\"message\"]]}}" }, "id": "SaveAnswer", "name": "Save Answer", "type": "n8n-nodes-base.postgres", "typeVersion": 2, "credentials": { "postgres": "CRED.postgres" }, "position": [800, 300] },

    { "parameters": { "conditions": { "boolean": [{ "value1": "={{$json.is_complete}}", "operation": "is true" }] } }, "id": "CheckCompletion", "name": "Check Questionnaire Complete", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [1000, 300] },

    { "parameters": { "respondWith": "json", "responseBody": "={ {\"status\": \"in_progress\", \"next_question\": $json.next_question, \"options\": $json.options } }" }, "id": "RespondNextQuestion", "name": "Respond to Webhook (Next Question)", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 2, "position": [1200, 500] },

    { "parameters": { "url": "https://raw.githubusercontent.com/GoyaAcademy/Entra-ID-Onboarding-Automation/main/templates/entra_app_onboarding.yaml", "responseFormat": "string", "options": { "retryOnFail": true, "maxRetries": 3, "timeout": 5000 } }, "id": "FetchTemplate", "name": "Fetch YAML Template", "type": "n8n-nodes-base.httpRequest", "typeVersion": 3, "position": [1200, 200] },

    { "parameters": { "functionCode": "const yaml = $json[\"body\"];\nlet filledYaml = yaml\n  .replace('{{app_id}}', $json.app_id)\n  .replace('{{app_name}}', $json.app_name);\nreturn [{ yaml: filledYaml, app_id: $json.app_id }];" }, "id": "FillTemplate", "name": "Fill Template", "type": "n8n-nodes-base.function", "typeVersion": 2, "position": [1400, 200] },

    { "parameters": { "url": "https://api.github.com/repos/GoyaAcademy/Entra-ID-Onboarding-Automation/contents/templates/app-{{$json.app_id}}.yaml", "method": "PUT", "authentication": "predefinedCredentialType", "sendBody": true, "jsonBody": true, "bodyParametersJson": "={\n  \"message\": \"feat: add onboarding config for app-\" + $json.app_id,\n  \"content\": Buffer.from($json.yaml).toString(\"base64\"),\n  \"branch\": \"onboard-app-\" + $json.app_id\n}", "options": { "retryOnFail": true, "maxRetries": 3, "timeout": 10000 } }, "id": "CreatePR", "name": "Create GitHub PR", "type": "n8n-nodes-base.httpRequest", "typeVersion": 3, "credentials": { "githubApi": "CRED.github" }, "position": [1600, 200] },

    { "parameters": { "operation": "insert", "table": "entra_workflow_logs", "columns": ["event", "workflow", "node", "status", "timestamp", "level"], "values": "={{['app_onboarding','entra-id-onboarding','Create GitHub PR','SUCCESS', $now, 'INFO']}}" }, "id": "LogEvent", "name": "Log Event", "type": "n8n-nodes-base.postgres", "typeVersion": 2, "credentials": { "postgres": "CRED.postgres" }, "position": [1800, 200] },

    { "parameters": {}, "id": "ErrorTrigger", "name": "Error Trigger", "type": "n8n-nodes-base.errorTrigger", "typeVersion": 1, "position": [200, 600] },

    { "parameters": { "operation": "insert", "table": "entra_workflow_logs", "columns": ["event", "workflow", "node", "status", "error", "timestamp", "level"], "values": "={{['app_onboarding','entra-id-onboarding','ErrorTrigger','FAILURE', $json.error.message, $now, 'ERROR']}}" }, "id": "LogError", "name": "Log Error", "type": "n8n-nodes-base.postgres", "typeVersion": 2, "credentials": { "postgres": "CRED.postgres" }, "position": [400, 600] }
  ],

  "connections": {
    "Webhook": { "main": [[{ "node": "Get Conversation State", "type": "main", "index": 0 }]] },
    "Get Conversation State": { "main": [[{ "node": "Fetch Questionnaire JSON", "type": "main", "index": 0 }]] },
    "Fetch Questionnaire JSON": { "main": [[{ "node": "Save Answer", "type": "main", "index": 0 }]] },
    "Save Answer": { "main": [[{ "node": "Check Questionnaire Complete", "type": "main", "index": 0 }]] },
    "Check Questionnaire Complete": {
      "main": [
        [ { "node": "Fetch YAML Template", "type": "main", "index": 0 } ],
        [ { "node": "Respond to Webhook (Next Question)", "type": "main", "index": 0 } ]
      ]
    },
    "Fetch YAML Template": { "main": [[{ "node": "Fill Template", "type": "main", "index": 0 }]] },
    "Fill Template": { "main": [[{ "node": "Create GitHub PR", "type": "main", "index": 0 }]] },
    "Create GitHub PR": { "main": [[{ "node": "Log Event", "type": "main", "index": 0 }]] },
    "Error Trigger": { "main": [[{ "node": "Log Error", "type": "main", "index": 0 }]] }
  },

  "settings": {},
  "version": 2,
  "metadata": {
    "version": "1.1.1",
    "tags": ["semver:1.1.1", "entra-id", "onboarding", "chat", "schema:v2", "n8n-1.111.0"],
    "author": "n8n Architect Pro",
    "createdAt": "2025-09-16T00:00:00Z",
    "changelog": [
      "fix: regenerate workflow with schema v2 and node versions compatible with n8n 1.111.0",
      "fix: ensure false branch wiring displays correctly in UI"
    ]
  },

  "id": "entra-id-onboarding"
}
